* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-image: url(images/noise.jpg);
}

header {
    background-color: rgb(217, 235, 217);
    padding: 2% 0 0 14%;
    border-bottom: 4px solid rgb(237, 100, 100);
}

header nav {
    background-color: rgb(217, 235, 217);
    max-width: 65%;
    padding-left: 18%;
    text-align: right;
    font-size: 30px; 
    display:inline-block;
}

h1, 
h2, 
h3 {
    padding: 0 0 20px 0;
    margin-top: 20px 0;
    color: #212027;
}

h2 ~ img {
    float: left;
    margin-right: 15px;
    box-shadow: 8px 12px 8px grey;
}

h1 {
    font-size: 50px;
    max-width: 30%;
    margin:2% 3% 0 1%;
    display:inline-block;
    padding: 22px;
    background-color:rgb(238, 246, 238);
    color:  rgb(84, 109, 84);
    border: 1px solid rgb(237, 100, 100);
}

h2 {
    font-size: 30px;
    border-bottom: 2px solid rgb(237, 100, 100);
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-family: cursive;
}

main p {
    padding: 20 0px;
    text-indent: 25px;
    text-align:justify;
    margin:25px 0;
}


.link {
    color:rgb(237, 100, 100);
    font-variant: small-caps;
    font-size: 25px;
    margin-right: 50px;
    padding: 10px 20px;
    background:rgb(227, 243, 235);
    text-decoration: none;
    border: 1px solid rgb(237, 100, 100);
}

.container {
    background:rgb(255, 255, 246);
    max-width: 50%;
    margin:1% 0 4% 15%;
    padding: 2% 2%;
    line-height: 25px;
    font-size: 18px;
    float:left;
    display: block;
}

aside {
    vertical-align: top;
    padding: 1% 2% 3%;
    background-color: rgb(227, 243, 235);
    text-align:center;
    margin: 1% 10% 0 1%;
    max-width: 60%;
    display: inline-block;
}

aside h2 {
    font-family: cursive;
    font-size: 35px;
}

footer {
    background-color: rgb(227, 243, 235);
    margin-top: 1500px;
    padding: 25px;
    text-align: center;
    border-top: 3px solid rgb(237, 100, 100);
    clear:both;
    color: rgb(237, 100, 100);
}

#icons a {
    
    margin: 2%;
    box-shadow: 8px 12px 8px grey;
    display:inline-flex;
}